@import "../../../resources/sass/variables";
@import "_scssFiles/variables";
@import "_scssFiles/globalClasses";
@import "_scssFiles/optimizationEditBlade";
@import "_scssFiles/imageEditing";
@import "_scssFiles/searchLinks";
@import "_scssFiles/detailsOptimization";
@import "_scssFiles/bulkSettingsAction";


.alert.customAlert {
    display: none;
}

#flagsCard {
    font-size: 1rem;
    i {
        font-size: 2rem;
    }
    .btnMainCat {
        border-radius: 10px;
        margin-right: 5px;
        background-color: $body-bg;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        &:hover {
            // box-shadow: 0px 3px 4px rgba(250, 235, 215, 0.1);
            transition: .1s linear all;
            transform: translateY(-3px);
        }
    }
    .form-control {
        height: 100% !important;
    }
    .minHeight-300 {
        min-height: 300px !important;
    }
    select {
        min-height: 300px !important;
    }
    #btnActionFlags {
        button {
            min-width: 55px;
        }
    }
    .btnMainCat.active {
        background-color: lightgrey;
    }
    .platform {
        font-size: 1.2rem;
        font-weight: bold;
    }
}
//zoom test
.zoom {
    display:inline-block;
    position: relative;
}

/* magnifying glass icon */
.zoom:after {
    content:'';
    display:block;
    width:33px;
    height:33px;
    position:absolute;
    top:0;
    right:0;
    //background:url(icon.png);
}

.zoom img {
    display: block;
}

.zoom img::selection { background-color: transparent; }

// Product Card
#product {
    .title {
        //border-radius: 0.42rem;
        border-radius: 10px;
    }
}
.cardProduct {
    border-radius: 10px;
    min-height: 180px;
    i, svg {
        font-size: 1rem;
    }

    .borderLeftRadius {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .borderRightRadius {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .groupIcons {

        i {
            font-size: 1.6rem;
        }
        .borderLeftRadius {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .borderRightRadius {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    label.btn.active {
        background-color: #bfe1b2!important;
        color: black!important;
    }
    // star rating
    i.fa-star {
        font-size: 1.2rem;
    }
    i.fa-star.starYellow {
        color: $starYellow;
    }
}

// optimization date range
#customDropMenu {
    min-height: 150px;
    min-width: 250px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 50px;
    right: 40px;
    z-index: 3;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)!important;
}
// location
#locationInput {
    display: none;
    border: 1px solid lightgray;
    outline-color: lightgray;
    &:focus {
        outline-color: lightgray;
    }
}
//bin and QOH input
#binInput, #qohInput {
    display: none;
    position: absolute;
    z-index: 2;
    left: 40px;
    border: 1px solid lightgray;
    outline-color: lightgray;
    &:focus {
        outline-color: lightgray;
    }
}

// codeModal message to developer
.codeModalTitle {
    h5 {
        padding: 10px 20px!important;
    }
}
.codeModal {
    h5 {
        padding: 10px 20px;
    }
    form {
        input[type=checkbox] {
            width: 1.3rem!important;
            height: 1.3rem!important;
        }
    }
}
#plainModal {
    .plainButton {
        .active {
            background-color: #bfe1b2;
        }
        i {
            font-size: $font-size-15-rem!important;
        }
        buttton {
            font-size: $font-size-12-rem!important;
        }
        background-color: #f6f5f5;
        .fa-video {
            color: #e888f2;
        }
        .twitterColor {
            color: #02c1f4;
        }
        .facebookColor {
            color: #0059ef;
        }
        .dollarColor {
            color: #3d6f32;
        }
    }
}

// Charts -- middle of page

#chart {
    .customChartCard {
        min-height: 450px;
        background-color: white;
    }
    .legend {
        width: 2.5rem;
        height: 1.5rem;
        border: 1px solid black;
    }

    input[type=checkbox] {
        width: 1.3rem!important;
        height: 1.3rem!important;
    }
}
#chartBottom {
    .customBottomCard {
        background-color: white;
        min-height: 280px;
        padding: 20px;
    }
    .questionSign {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}
img.main {
    width: 100%;
}

//compatibles
#compatiblesSection {
    .alert.alert-success {
        display: none;
    }
    .alert.alert-danger {
        display: none;
    }
}
//compatibles
#clear {
    display: none;
    position: absolute;
    right: 12px;
    top: 12px;
    color: lightgrey;
    &:hover {
        transform: scale(1.1);
        color: grey;
    }
}
#pasteSingleItem {
    border: 1px solid grey!important;
}
//compatibles table
.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}
.my-custom-scrollbar-350 {
    position: relative;
    height: 400px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
//settings




// new item
@media only screen and (max-width: 768px) {
    .rotateIcons {
        transform: rotate(90deg);
    }
    .btnMainCat {
        border-radius: 3px !important;
        margin-bottom: 3px;
        &:hover {
            box-shadow: 0px 3px 4px rgba(250, 235, 215, 0.1);
            transition: .1s linear all;
            transform: translateY(-3px);
        }
    }
}
@media only screen and (max-width: 600px){
    .cardProduct {
        .groupIcons {
            i {
                font-size: 1.5rem;
            }
        }
    }
}
