.font-15 {
  font-size: 1.5rem !important;
}

.font-size-1 {
  font-size: 1rem !important;
}

.font-size-12 {
  font-size: 1.2rem !important;
}

.font-size-15 {
  font-size: 1.5rem !important;
}

.font-size-18 {
  font-size: 1.8rem !important;
}

.text-indigo {
  color: #6574cd;
}
.text-athan{
 color: #fff;
}
.text-bluetooth {
  color: #003c96;
}

.body-bg {
  background-color: #f8fafc;
}

.bg-lightYellow {
  background-color: #ffff8f;
}

.text-red {
  color: red !important;
}

.radioGreen {
  background-color: #bfe1b2;
}

.text-radio-green {
  color: #bfe1b2;
}

.colorLightBlue {
  color: #17d1f6 !important;
}

.lightGrey {
  background-color: #f6f5f5;
}

.text-question {
  color: #ffaba8;
}

.bg-colorAmazon {
  background-color: #dd541c;
}

.bg-colorOrganic {
  background-color: #02936d;
}

.textOrganic {
  color: #02936d;
}

.bg-colorGoogle {
  background-color: #ee267e;
}

.bg-colorEbay {
  background-color: #6965a7;
}

.hoverShadowScale:hover {
  -webkit-transition: .1s linear all;
  transition: .1s linear all;
  -webkit-box-shadow: 0px 3px 4px rgba(250, 235, 215, 0.1);
          box-shadow: 0px 3px 4px rgba(250, 235, 215, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-15 {
  border-radius: 15px !important;
}

.shadowGlobal {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
}

.customDropMenu-show {
  visibility: visible;
}

.customDropMenu-hidden {
  visibility: hidden;
}

.margin-y-30 {
  margin: 30px auto;
}

i {
  font-size: 2rem;
}

form {
  border-radius: 10px;
}

.alarmCheckboxes {
  background-color: #f8fafc;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15) !important;
  padding: 5px;
}

.alarmCheckboxes input, .alarmCheckboxes label {
  cursor: pointer;
}

.image {
  max-width: 90px;
  max-height: 90px;
}

.customCardImage {
  height: 60% !important;
}

.customCardBody {
  min-height: 40%;
}

.customCardCol {
  height: 300px;
}

.customToolTip {
  display: none;
  position: absolute;
  left: 40px;
}

.customToolTip .fa-caret-left {
  position: absolute;
  left: -10px;
  top: -4px;
  color: lightgrey;
  margin-right: 3px;
}

.imageUploadsRow {
  min-height: 20vh;
}

.dropzone {
  border: 3px dashed purple;
  background: lightgrey;
}

.dz-preview {
  width: 200px !important;
  height: 200px !important;
}

.dz-image {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
}

.dz-image img {
  min-width: 100% !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  scale: 0;
}

.dz-remove {
  padding: 5px 10px;
}

.dz-rotate {
  background-color: lightgray !important;
}

.dz-rotate .rotateLeft, .dz-rotate .rotateRight {
  z-index: 15 !important;
}

#slLinks {
  margin-bottom: 10vh;
}

#slLinks i {
  font-size: 2rem;
}

#slCategories span {
  font-size: 1rem;
}

#slCategories .categoryCard {
  background-color: #f8fafc;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) !important;
}

#slCategories .categoryCard:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(250, 235, 215, 0.1);
          box-shadow: 0px 5px 10px rgba(250, 235, 215, 0.1);
  -webkit-transition: .1s linear all;
  transition: .1s linear all;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

#detailsChart .customChartCard {
  min-height: 460px !important;
  background-color: white;
}

#detailsChart .dataCard {
  height: 32%;
}

#detailsChart .futureCard {
  height: 65%;
}

#detailsChart .rightSideDataCol {
  height: 460px !important;
}

#detailsChart .greyGradient {
  background: #020024;
  background: -webkit-gradient(linear, left top, left bottom, from(#020024), color-stop(0%, rgba(88, 87, 112, 0.306057)), color-stop(100%, rgba(241, 233, 233, 0.577766)), to(#00d4ff));
  background: linear-gradient(180deg, #020024 0%, rgba(88, 87, 112, 0.306057) 0%, rgba(241, 233, 233, 0.577766) 100%, #00d4ff 100%);
}

#asinPerformance .active {
  background-color: lightgrey !important;
}

#asinPerformance .btnAsin {
  margin-right: 5px;
  background-color: #f8fafc;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
}

#asinPerformance .btnAsin:hover {
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition: .1s linear all;
  transition: .1s linear all;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.modal-body.bulkSettingsAction .btnMainCat {
  border-radius: 10px;
  margin-right: 5px;
  background-color: #f8fafc;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.modal-body.bulkSettingsAction .min-height-300 {
  min-height: 300px;
}

.modal-body.bulkSettingsAction .hoverBtnMain:hover {
  -webkit-transition: .1s linear all;
  transition: .1s linear all;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #6574cd;
}

#filterBox {
  position: absolute;
  background-color: white;
  z-index: 2;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
  top: 60px;
  width: 400px;
  height: 200px;
  padding: 10px;
}

#filterBox .fas.fa-sort-up {
  position: absolute;
  top: 0;
}

.alert.customAlert {
  display: none;
}

#flagsCard {
  font-size: 1rem;
}

#flagsCard i {
  font-size: 2rem;
}

#flagsCard .btnMainCat {
  border-radius: 10px;
  margin-right: 5px;
  background-color: #f8fafc;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

#flagsCard .btnMainCat:hover {
  -webkit-transition: .1s linear all;
  transition: .1s linear all;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

#flagsCard .form-control {
  height: 100% !important;
}

#flagsCard .minHeight-300 {
  min-height: 300px !important;
}

#flagsCard select {
  min-height: 300px !important;
}

#flagsCard #btnActionFlags button {
  min-width: 55px;
}

#flagsCard .btnMainCat.active {
  background-color: lightgrey;
}

#flagsCard .platform {
  font-size: 1.2rem;
  font-weight: bold;
}

.zoom {
  display: inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
}

.zoom img {
  display: block;
}

.zoom img::-moz-selection {
  background-color: transparent;
}

.zoom img::selection {
  background-color: transparent;
}

#product .title {
  border-radius: 10px;
}

.cardProduct {
  border-radius: 10px;
  min-height: 180px;
}

.cardProduct i, .cardProduct svg {
  font-size: 1rem;
}

.cardProduct .borderLeftRadius {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.cardProduct .borderRightRadius {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cardProduct .groupIcons i {
  font-size: 1.6rem;
}

.cardProduct .groupIcons .borderLeftRadius {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cardProduct .groupIcons .borderRightRadius {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cardProduct label.btn.active {
  background-color: #bfe1b2 !important;
  color: black !important;
}

.cardProduct i.fa-star {
  font-size: 1.2rem;
}

.cardProduct i.fa-star.starYellow {
  color: #f5e851;
}

#customDropMenu {
  min-height: 150px;
  min-width: 250px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 40px;
  z-index: 3;
  padding: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15) !important;
}

#locationInput {
  display: none;
  border: 1px solid lightgray;
  outline-color: lightgray;
}

#locationInput:focus {
  outline-color: lightgray;
}

#binInput, #qohInput {
  display: none;
  position: absolute;
  z-index: 2;
  left: 40px;
  border: 1px solid lightgray;
  outline-color: lightgray;
}

#binInput:focus, #qohInput:focus {
  outline-color: lightgray;
}

.codeModalTitle h5 {
  padding: 10px 20px !important;
}

.codeModal h5 {
  padding: 10px 20px;
}

.codeModal form input[type=checkbox] {
  width: 1.3rem !important;
  height: 1.3rem !important;
}

#plainModal .plainButton {
  background-color: #f6f5f5;
}

#plainModal .plainButton .active {
  background-color: #bfe1b2;
}

#plainModal .plainButton i {
  font-size: 1.5rem !important;
}

#plainModal .plainButton buttton {
  font-size: 1.2rem !important;
}

#plainModal .plainButton .fa-video {
  color: #e888f2;
}

#plainModal .plainButton .twitterColor {
  color: #02c1f4;
}

#plainModal .plainButton .facebookColor {
  color: #0059ef;
}

#plainModal .plainButton .dollarColor {
  color: #3d6f32;
}

#chart .customChartCard {
  min-height: 450px;
  background-color: white;
}

#chart .legend {
  width: 2.5rem;
  height: 1.5rem;
  border: 1px solid black;
}

#chart input[type=checkbox] {
  width: 1.3rem !important;
  height: 1.3rem !important;
}

#chartBottom .customBottomCard {
  background-color: white;
  min-height: 280px;
  padding: 20px;
}

#chartBottom .questionSign {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

img.main {
  width: 100%;
}

#compatiblesSection .alert.alert-success {
  display: none;
}

#compatiblesSection .alert.alert-danger {
  display: none;
}

#clear {
  display: none;
  position: absolute;
  right: 12px;
  top: 12px;
  color: lightgrey;
}

#clear:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: grey;
}

#pasteSingleItem {
  border: 1px solid grey !important;
}

.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}

.my-custom-scrollbar-350 {
  position: relative;
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

@media only screen and (max-width: 768px) {
  .rotateIcons {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .btnMainCat {
    border-radius: 3px !important;
    margin-bottom: 3px;
  }
  .btnMainCat:hover {
    -webkit-box-shadow: 0px 3px 4px rgba(250, 235, 215, 0.1);
            box-shadow: 0px 3px 4px rgba(250, 235, 215, 0.1);
    -webkit-transition: .1s linear all;
    transition: .1s linear all;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@media only screen and (max-width: 600px) {
  .cardProduct .groupIcons i {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */